* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: lightgrey;
  height: 100vh;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: white;
}

#container-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#container-two h1 {
  font-size: 50px;
  cursor: pointer;
}

#searchButton {
  cursor: pointer;
}

#home {
  text-decoration: none;
  color: white;
}